@model TP4.ViewModels.ListaPedidosCadeteViewModel

@{
    ViewBag.Title = "Listado de pedidos";
}

<section>
    <h1 class="text-center">Listado de pedidos del cadete</h1>
    <article class="text-center">
        <p>Pedidos encontrados correspondientes al cadete @Model.nombreCadete:</p>
            <table>
                <thead>
                    <tr>
                        <th>
                            Número
                        </th>
                        <th>
                            ID del cliente
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model.pedidosCadete)
                    {
                        <tr>
                            <td>
                                @pedido.Numero
                            </td>
                            <td>
                                @pedido.IdCliente
                            </td>
                            @if(pedido.Observaciones!=null){
                                <td>@pedido.Observaciones</td>
                            } else {
                                <td>-</td>
                            }
                            @if(pedido.EstaRealizado){
                                <td>Entregado</td>
                            } else {
                                <td>Pendiente</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
    </article>
</section>


