<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Para usar NLog.Web.AspNetCore -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="debuglogfile" xsi:type="File" fileName="debug.log" />
        <target name="tracelogfile" xsi:type="File" fileName="trace.log" />
        <target name="infologfile" xsi:type="File" fileName="infoandmore.log" />
        <!--Target "blackhole", ver documentación NLog-->
        <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
    </targets>

    <rules>

        <!--Output hosting lifetime messages to console target for faster startup detection (documentacion NLog) -->
        <logger name="Microsoft.Hosting.Lifetime" maxlevel="Info" writeTo="lifetimeConsole" final="true" />

        <!--Para omitir los logs no propios (de Microsoft) -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

        <logger name="*" level="Trace" writeTo="tracelogfile"/>
        <logger name="*" minlevel="Info" writeTo="infologfile" />
        <logger name="*" level="Debug" writeTo="debuglogfile" />
    </rules>
</nlog>