<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="debuglogfile" xsi:type="File" fileName="debug.txt" />
        <target name="tracelogfile" xsi:type="File" fileName="trace.txt" />
        <target name="infologfile" xsi:type="File" fileName="info.txt" />
    </targets>

    <rules>
        <logger name="*" level="Trace" writeTo="tracelogfile"/>
        <logger name="*" minlevel="Info" writeTo="infologfile" />
        <logger name="*" level="Debug" writeTo="debuglogfile" />
    </rules>
</nlog>