html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'M PLUS Rounded 1c';
  background-color: rgba(255, 244, 225, 0.815);
}

h1 {
  margin-top:2.5rem;
  margin-left: auto;
  margin-right:auto;
  font-size:3rem !important;
  background-color: rgb(255, 170, 0);
  width:82%;
  padding:0.6rem;
  border-radius:0.3rem;

}


.navbar {
  background-color: rgb(251, 223, 164) !important;
}

.nav-item {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.nav-item a {
  background-color: rgb(236, 191, 93);
  padding:0.6rem;
  border-radius:0.3rem;
  transition-duration: 0.3s;
}

.nav-item:last-child{
  background-color:rgb(164, 39, 39);
  color:white;
}

.nav-sesioniniciada {
  display:block;
  padding:0.4rem;
  border-radius:0.3rem;
  margin-right:0 !important;
}

.nav-sesioniniciada a, .nav-sesioniniciada p {
  padding:0.3rem !important;
  margin:0;
}

.nav-sesioniniciada a {
  color:rgb(127, 41, 41) !important;
}


@media (min-width: 576px) {
  .navbar ul > .nav-item:last-of-type {
   margin-left: auto;
  }
  .nav-item{
    margin-right:0.8rem;
  }
}

.nav-item a:hover {
  background-color: rgb(245, 129, 87);
  transition-duration: 0.3s;
}

.nav-item a:focus {
  background-color: rgb(245, 129, 87);
  transition-duration: 0.3s;
}

@media (max-width: 576px) {
  .nav-item a{
    margin-top:0.5rem;
    padding-left:0.8rem !important;
    width:100%;
  }
  .nav-sesioniniciada {
    margin-top:0.5rem;
  }

}

#alogositio {
  width:4.7rem;
  background-color: rgb(245, 129, 87);
  text-align: center;
  border-radius:0.3rem;
}

#logositio {
  width: 4rem;
  background-color: rgb(255, 174, 0);
  padding: 0.5rem;
  transition-duration: 0.3s;
  border-radius:0.3rem;
}

#logositio:hover {
  transition-duration:0.3s;
  transform: scale(1.02);
}

#logositio:focus {
  transition-duration:0.3s;
  transform: scale(1.05);
}

table {
  margin: 0 auto;
  border: 0.05em solid black;
  border-collapse : collapse;
  width : 80%;
  background-color: white;
}

table a {
  color:rgb(152, 41, 0);
}

table a:hover {
  color:rgb(163, 83, 53);
}

table a:focus {
  color:rgb(163, 83, 53);
}

table th {
  background-color: rgb(254, 220, 149);
}

table th, table td {
  padding: 0.5em;
  border: 0.05em solid black;
}

p {
  margin-top : 1em;
}

.excepcionDB {
  padding:0.5em;
  background-color: rgb(227, 135, 135);
  border-radius: 0.2em;
}

.extrasListarPedidos, .extrasListarCadetes, .extrasListarClientes, #usuarioNoEncontrado{
  background-color :rgb(254, 220, 149);
  padding: 0.4em;
  margin: 1em auto;
  text-align:center;
  width:50%;
}

.extrasListarCadetes a, .extrasListarPedidos a, .extrasListarClientes a{
  color:rgb(152, 41, 0);
}

.extrasListarCadetes a:hover, .extrasListarPedidos a:hover, .extrasListarClientes a:hover{
  color:rgb(163, 83, 53);
}

.extrasListarCadetes a:focus, .extrasListarPedidos a:focus, .extrasListarClientes a:focus{
  color:rgb(163, 83, 53);
}

form {
  background-color:rgb(254, 220, 149);
  padding:1em;
  border-radius:0.5em;
  border: 0.01em solid rgb(163, 83, 53);
  margin: 1em auto;
  width:60%;
}

form label {
  width: 100%;
  display:block;
  padding:0.2em;
}

form label input {
  display:block;
  width:100%;
}

form input[type="submit"] {
  margin-top:1em;
  
}

form input[type="submit"]:hover {
  background-color:rgb(142, 163, 202);
}

.form-control {
  background-color: rgb(254, 220, 149) !important;
  border: none !important;
  color:rgb(163, 83, 53);
}

form select {
  display:block;
  width:100%;
  padding:0.2em;
}

form #estadopedido {
  display:flex !important;
}

form #estadopedido input {
  width:1rem !important;
  margin-left:0.5rem !important;
}

footer {
  background-color: rgb(251, 223, 164) !important;

}

footer div {
  color:rgb(87, 84, 84);
}
